.About {
  position: relative;
  margin-top: 3em;
  width: 100%;
  height: calc(100vh - 3em);
  background: url('../images/back.jpg');
  background-size: cover;
}

.about__text {
  position: absolute;
  padding: 1em;
  margin: 1em;
  width: 60%;
  background: rgba(0, 0, 0, 0.6);
}

.about__text p {
  margin-top: 0;
}

@media (max-width: 740px) {
  .about__text {
    font-size: 0.8em;
    max-height: calc(90% - 1em);
    width: 90%;
    left: 0;
    right: 0;
    top: 1em;
    margin: auto;
    padding: 0;
    padding-top: 1em;
    overflow: scroll;
  }

  .about__text p {
    padding: 0 1em;
  }
}
