.About {
  margin-top: 3em;
  width: 100%;
  height: calc(100vh - 3em);
  background: url('../images/back.jpg');
  background-size: cover;
}

.about__text {
  position: absolute;
  padding: 1em;
  margin: 1em;
  width: 60%;
  background: rgba(0, 0, 0, 0.6);
}

.about__text p {
  margin-top: 0;
}
