.Contact-wrapper {
  width: 100%;
  height: calc(100vh - 3em);
  /*position: relative;*/
}

.contact {
  top: 30vh;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  /*width: 90%;*/
  text-align: center;
}

.contact__header {
  font-size: 1.5em;
  line-height: 3em;
}

.contact__contacts {
  font-size: 2em;
  animation-delay: 0.2s;
}

.contact__icon-container {
  display: inline-block;
  margin: 0 0.3em;
}

@media (max-width: 770px) {
  .contact {
    top: 2em;
  }

  .contact__header {
    font-size: 1em;
  }

  .contact__icon-container {
    display: block;
    margin-bottom: 0.5em;
  }

  .contact__contacts {
    font-size: 1.5em;
  }
}
