.Header {
  height: 3em;
  position: fixed;
  top: 0;
  line-height: 3em;
  padding-left: 1em;
  z-index: 100;
}

.header-menu-icon__main {
  display: inline-block;
  margin-right: 1em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.header-menu-icon__container {
  display: inline-block;
  color: #ddd;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.header-menu-icon__container:hover {
  font-size: 0.5em;
}
