.Header {
  height: 3em;
  position: fixed;
  top: 0;
  line-height: 3em;
  padding-left: 1em;
  z-index: 100;
}

.header-menu-icon__container {
  display: inline-block;
}

.header-menu-icon {
  cursor: pointer;
  margin-right: 1em;
  color: #ddd;
}
