.Info {
  height: 100vh;
  width: 50vw;
  position: relative;
}

.info-name,
.info-name-hidden,
.info-nav,
.info-nav-hidden {
  position: absolute;
}

.info-name,
.info-name-hidden {
  bottom: calc(50vh + 0.5em);
  white-space: nowrap;
}

.info-name {
  left: 0.5em;
}

.info-name-hidden {
  left: 100vw;
}

.info-nav,
.info-nav-hidden {
  font-size: 0.8em;
  top: calc(50vh + 0.5em);
  white-space: nowrap;
}

.info-nav {
  right: 4em;
  animation-delay: 0.3s;
}

.info-nav-hidden {
  right: 50vw;
}

.info-nav__link {
  color: #ddd;
  display: inline-block;
  margin-left: 1.5em;
  cursor: pointer;
}
