.Prism {
  position: absolute;
  top: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
}

.Prism,
.svgPrism {
  stroke: #ddd;
  stroke-width: 2;
  fill: freeze;
  z-index: -1;
}

.rainbow {
  position: absolute;
  opacity: 0;
  z-index: -2;
  margin: 0 auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: conic-gradient(
    transparent 20%,
    red,
    yellow,
    lime,
    aqua,
    blue,
    magenta,
    transparent 30%
  );
  animation: grow 2s 2s forwards, fade 1s 4s forwards;
}

@keyframes grow {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}
